#contact{
 width: 100%;
}
.containing, .containing~div{
  margin: auto;
  width: max-content;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0% 5%;
  background: rgba(255, 255, 255, 0.53);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3)
}
.containing input,button{
  border-radius: 4px;
}
.containing label{
  color: inherit;
}
.containing .btn{
  width: min-content;
  background-color: var(--first-orange-color);
}